:root {
    --background:  #ff0800;
    --main:  #a8ff05;
    --secondary:  #13ff7d;
    --text:  #ff7b00;
    --stroke:  #63f1da;
}
body {
    background-color: var(--background);
    margin: 0;
    font-family: 'poppins', sans-serif;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-svg {
    width: 100%;
}
.header-logo {
    max-width: 100px;
    border: 2px solid;
    border-radius: 50%;
    margin-top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgb(255, 140, 0);
}
img {
    border-radius: 50%;
    width: 100%;
}
.header-text {
    text-align: center;
    margin-top: 20px;
}
h2 {
    font-size: large;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgb(255, 166, 0);
    text-transform: uppercase;
    font-style: oblique;
}
p {
    font-size: 1rem;
    font-weight: bold;
}
.sosial-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid var(--stroke);
    background: var(--main);
    box-shadow: 1px 5px 10px 1px rgb(rgb(255, 103, 103));
    border-radius: 10px;
    color: var(--text);
    text-decoration: none;
    transition: 0.3 ease, box-shadow 0.3 ease;
    font-weight: 600;
}
a:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 15px 1px rgb(rgb(0, 0, 0));
    opacity: 0.8;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    width: 100%;
    margin-top: 2%;
}
span {
    font-weight: 600;
}
.footer-svg {
    width: 100%;
}
.footer-svg {
    margin-bottom: -5px;    
}
